@tailwind base;

/* Write your own custom base styles here */
body {
  @apply bg-gray-100;
}

.yellow-underline {
  text-decoration-color: gold;
}

.vertical {
  writing-mode: vertical-lr;
}

.sticky-top {
  position: sticky;
  top: 1rem;
}

@font-face {
  font-family: Russo One;
  font-weight: 400;
  src: url(fonts/russo-one/RussoOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: IBM Plex Mono;
  font-weight: 400;
  src: url(fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf) format("opentype");
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
